[submodule "lib/dss-add-ilk-spell"]
	path = lib/dss-add-ilk-spell
	url = https://github.com/makerdao/dss-add-ilk-spell.git
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value.git
[submodule "lib/dss-deploy"]
	path = lib/dss-deploy
	url = https://github.com/makerdao/dss-deploy.git
